<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: https://cpf-coaching.com">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "banner.html" . }}
  <main role="main">
    <article {{- if .Site.Params.Webslides.slideshow }} id="webslides" {{- if .Site.Params.Webslides.vertical }} class="vertical" {{- end -}}{{- end -}}>
      {{ block "main" . -}}{{- end }}
    </article>
  </main>

  {{ partial "footer.html" . }}

  <!-- Required Scripts -->
  <script src="/static/js/webslides.js"></script>
  <script>
    window.ws = new WebSlides();
  </script>
  <script defer src="/static/js/svg-icons.js"></script>
</body>
</html>
