<footer class="bg-white">
  <div class="wrap longform">
    <img class="logo" src="/static/images/logo.png" alt="CPF Coaching LLC">
    <p class="logo"><a href="/" title="CPF Coaching LLC">CPF Coaching LLC - A Dedicated vCISO & Cybersecurity Leadership Coach</a></p>
    
    <div class="grid sm">
      <div class="column">
        <h3>Reach out</h3>
        <ul>
          <li class="Linkedin">
            <a rel="external" href="https://www.linkedin.com/company/cpf-coaching/" title="Linkedin">
              <svg class="fa-linkedin"><use xlink:href="#fa-linkedin"></use></svg>
              <em>CPF Coaching LLC</em>
            </a>
          </li>
          <li class="Calendar">
            <a rel="external" href="https://app.reclaim.ai/m/cpf-coaching/flexible-quick-meeting" title="Calendar">
              <svg class="fa-calendar"><use xlink:href="#fa-calendar"></use></svg>
              <em>Calendar</em>
            </a>
          </li>
          <li class="Mail">
            <a rel="external" href="mailto:info@cpf-coaching.com" title="Mail">
              <svg class="fa-envelope"><use xlink:href="#fa-envelope"></use></svg>
              <em>Mail</em>
            </a>
          </li>
          <li class="Blogs">
            <a rel="external" href="https://substack.cpf-coaching.com" title="blogs">
              <svg class="fa-rss-square"><use xlink:href="#fa-rss-square"></use></svg>
              <em>Blogs</em>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p>A <a href="https://cpf-coaching.com">CPF Coaching LLC</a> Production, &copy; {{ now.Format "2006" }}.</p>
    <p><a rel="external" href="/content/privacy.html" title="privacy">Privacy Policy</a></p>
  </div>
</footer>

<!-- Required -->
<script src="/static/js/webslides.js"></script>
<script>
  window.ws = new WebSlides();
</script>

<!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
<script defer src="/static/js/svg-icons.js"></script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4998e1297fc94357936311c8d4157259"}'></script>
<!-- End Cloudflare Web Analytics -->
