{{- if .Site.Params.Webslides.head -}}

<header role="nav">
  <nav role="navigation">
    {{ with .Site.Params.Author}}<img class="logo" src="./static/images/logo.png" alt="CPF Coaching">
        <p class="logo"> <a href="./index.html" title="CPF Coaching">CPF Coaching</a></p>{{ end }}
             
        <ul>
          <li class="Linkedin">
            <a rel="external" href="https://www.linkedin.com/company/cpf-coaching/" title="Linkedin">
              <svg class="fa-linkedin">
                <use xlink:href="#fa-linkedin"></use>
              </svg>
              <em>CPF Coaching</em>
            </a>
          </li>
            <li class="Medium Blog">
            <a rel="external" href="https://cpf-coaching.medium.com/" title="Calendar">
              <svg class="fa-medium">
                <use xlink:href="#fa-medium"></use>
              </svg>
              <em>Calendar</em>
            </a>
          </li>
          <li class="Calendar">
            <a rel="external" href="https://calendly.com/christophefoulon/quick-introduction" title="Calendar">
              <svg class="fa-calendar">
                <use xlink:href="#fa-calendar"></use>
              </svg>
              <em>Calendar</em>
            </a>
          </li>
          <li class="Mail">
            <a rel="external" href="mailto:info@cpf-coaching.com" title="Mail">
              <svg class="fa-envelope">
                <use xlink:href="#fa-envelope"></use>
              </svg>
              <em>Mail</em>
            </a>
          </li>
        </ul>
  </nav>
</header>

{{- end -}}
